/* =============================== */
/* CARD */
/* =============================== */

.card {
  background: #ffffff;
  border-radius: 28px;
  padding: 18px;
  position: relative;
  height: 100%;
  display: block;
  text-decoration: none;
  border: 1px solid rgba(15, 23, 42, 0.06);
  transition: all 0.3s ease;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.05);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 28px 60px rgba(0, 0, 0, 0.12);
}

/* =============================== */
/* ICON (FIXED) */
/* =============================== */

.iconWrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  /* background: #0b2545; */
  background: #f5f5f5;


  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 14px;

  transition: all 0.3s ease;
}

/* SVG icon */
.icon {
  width: 28px;
  height: 28px;
  color: var(--accent); /* 👈 main requirement */
  stroke-width: 2;
}

/* Hover effect */
.card:hover .iconWrapper {
  transform: scale(1.08);
}

/* =============================== */
/* CONTENT */
/* =============================== */

.title {
  font-size: 20px;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 10px;
}

.description {
  font-size: 14.5px;
  color: #334155;
  line-height: 1.6;
  max-width: 280px;

  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;

  margin-bottom: 56px;
}

.content {
  padding: 4px;
}

/* =============================== */
/* ARROW */
/* =============================== */

.arrowBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;

  width: 42px;
  height: 42px;
  border-radius: 50%;

  border: 1.5px solid #0b254553;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px;

  font-size: 16px;
  color: #0b2545;

  transition: all 0.3s ease;
}

.card:hover .arrowBtn {
  /* background: #0b2545; */
  background: #0b2545;
  color: #ffffff;
  /* transform: translate(4px, -4px); */
  /* padding: 25px; */
}